.navigation-bar {
  /* apply to the parent container to use flexbox*/
	display: flex;
  /* all items in a row starting at the left of the screen*/
	flex-direction: row;
  /* items display with equal space around them*/
	justify-content: space-around;
  background-color: #d72f89;
}

h1{
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: #d72f89
 }

h4{
  font-size: 27px;
}

.spotlight{
  display: flex;
  flex-direction: row;
}

.spotlightImg{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid #d72f89;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #e3b6ec
}

.spotlight-picture{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.spotlight p{
  margin-right: 30px;
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
}

